.active-nav-item {
  box-shadow: 
    0 0 3px rgba(var(--foreground-rgb), 0.1),
    0 0 6px rgba(var(--foreground-rgb), 0.2),
    0 0 9px rgba(var(--foreground-rgb), 0.3),
    0 0 12px rgba(var(--foreground-rgb), 0.4),
    0 0 15px rgba(var(--foreground-rgb), 0.5);
}
