.active-nav-item {
  box-shadow:     0 -2px 4px rgba(var(--foreground-rgb), 0.08),    2px 2px 1px rgba(var(--foreground-rgb), 0.1),
    1px 4px 2px rgba(var(--foreground-rgb), 0.15),
    0 6px 4px rgba(var(--foreground-rgb), 0.2);
}
